.mss{
    padding-bottom: 10px;
    display: flex;}

.ectt{
    border: solid black 2px;
    display: flex;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.templl{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

th{
    width: 25rem;
    border: solid black 2px;
    font-size: 1rem;
    padding: 10px 10px 10px 10px;
    
   
}

.oemname{
    text-align: center;
    font-size: 1rem;
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
}

.oememail{
    text-align: center;
    font-size: 1rem;
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
}
.odelbtn{
    text-align: center;
    border: solid black 2px;
    font-size: 1rem;
    padding: 10px 10px 10px 10px;
}
.oupbtn{
    text-align: center;
    border: solid black 2px;
    font-size: 1rem;
    padding: 10px 10px 10px 10px;

} 

.btn7{
    width: 5rem;
    font-size: 1rem;
    border: black solid 1px;
    background-color: rgb(247, 147, 163);
}
.btn7:hover{
    border: solid black 1px;
    color: purple;
    background-color: wheat;
    box-shadow: 2px 2px 6px 6px #8a6a77;
    font-weight: 600;
}
 @media only screen and (max-width: 988px){

    .templl{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        overflow-y: scroll;
        
    }
    .ectt{
    overflow-y: scroll;
}


} 