.Enameb{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: solid 2px black;
    width: 80vw;
    text-align: center;
    font-size: 2rem;
}
.head{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 18rem;
    height: 5rem;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 10px;
    border-radius: 50px;
    margin-left: 10px;
}
.logo{
    height: 50px;
    margin-top: 10px;
}