.qrmain{
    /* background-color: #c01b47; */
    background-color: pink;
    /* margin-left: 20px; */
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    justify-content: center;

}
.qrcode{
    /* border: solid black 2px; */
    display: flex;
    justify-content: center;
}
.qrhead{
    text-align: center;
    margin-top: 20px;
}
.templ{
    margin-top: 5vh;
}
.qrname{
    width:30vw;
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
    font-size: 1.2rem;
}
.qremail{
    width: 30vw;
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
    font-size: 1.2rem;
}
.qrg{
    width: 30vw;
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
    font-size: 1.2rem;

}
.qremname{
    text-align: center;
    border: solid black 2px;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
}
.qrememail{
    text-align: center;
    border: solid black 2px;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
}
.qremqr{
    text-align: center;
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
    font-size: 1.2rem;
}
.btn3{
    width: 12rem;
    font-size: 1rem;
    border: black solid 1px;
    background-color: rgb(247, 147, 163);
}
.btn3:hover{
    border: solid black 1px;
    color: purple;
    background-color: wheat;
    box-shadow: 2px 2px 6px 6px #8a6a77;
    font-weight: 600;
}