.logo{
    height: 50px;
    width: 60px;
    border-radius: 50px;
    
}
.inpq{
    font-size: 2rem;
}
.head{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 26rem;
    height: 10rem;
    padding-left: 2px;
    padding-right: 10px;
    border-radius: 50px;
    margin-left: 10px;
}
.mains{
    background-color: #ffe5ec;
    height: 100vh;
    padding-top: 10px;
}