@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: pink;
    /* font-size: 400; */
}
.ss{
    font-weight: 600;
}
.simg{
    width: 250px;
}
#santaotpres{
    margin-left: auto;
    margin-right: auto;
    display: none;
}
/*------------ Login container ------------*/

.box-area{
    width: 930px;
}
.btn0:hover{
    border: solid black 1px;
    color: purple;
    background-color: wheat;
    box-shadow: 2px 2px 6px 6px #8a6a77;
    font-weight: 600;
}

#otfieldsanta {
    display:none;
    flex-direction: row;
    align-items: center;
    
  }
  .otp-field input {
    width: 58px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    margin: 2px;
    border: 2px solid #55525c;
    background: white;
    font-weight: 400;
    color: black;
    outline: none;
    transition: all 0.1s;
  }
  .otp-field input:focus {
    border: 2px solid #a527ff;
    box-shadow: 0 0 2px 2px #a527ff6a;
  }
  .disabled {
    opacity: 0.5;
  }
  .space {
    margin-right: 1rem !important;
  }

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;

}
.left-box{
    background-color: white;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
.btn0{
    
    background-color: pink;
    border-color: purple;
}

#santsub{
    display: none;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .right-box{
        padding: 20px;
     }

}


@media only screen and (max-width: 1000px){
    .otp-field input {
        width: 40px;
    }
}